#!/usr/bin/env sh

use flake ../dagger-modules
use flake ../dagger-modules#dagger
use flake ../dagger-modules#azure
use flake ../dagger-modules#terraform
use flake ../dagger-modules#hashistack

# export DAGGER_MODULE=./ci
export NOMAD_ADDR=http://10.0.30.51:4646
