#!/usr/bin/env bash

# Taskfile
export TASK_X_ENV_PRECEDENCE=1

KUBECONFIG="$(realpath -s kubeconfig)"
export KUBECONFIG

GITHUB_TOKEN=$(gh auth token)
export GITHUB_TOKEN

TF_TOKEN=$(jq -rc '.credentials["app.terraform.io"].token' ~/.terraform.d/credentials.tfrc.json)
export TF_TOKEN

GHCR_TOKEN=$(jq -rc '.auths["ghcr.io"].auth' ~/.docker/config.json | base64 -d | cut -d: -f2)
export GHCR_TOKEN

source_url "https://raw.githubusercontent.com/cachix/devenv/82c0147677e510b247d8b9165c54f73d32dfd899/direnvrc" "sha256-7u4iDd1nZpxL4tCzmPG0dQgC5V+/44Ba+tHkPob1v2k="
use devenv
