#!/usr/bin/env sh

use flake .

GH_TOKEN="$(gh auth token)"
export GH_TOKEN

TF_TOKEN=$(jq -rc '.credentials["app.terraform.io"].token' ~/.terraform.d/credentials.tfrc.json)
export TF_TOKEN

# export OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4317
# export OTEL_EXPORTER_OTLP_PROTOCOL=grpc
# export OTEL_EXPORTER_OTLP_INSECURE="true"

# export OTEL_EXPORTER_OTLP_LOGS_ENDPOINT=http://localhost:4318/v1/logs
# export OTEL_EXPORTER_OTLP_LOGS_PROTOCOL=http/protobuf
# export OTEL_EXPORTER_OTLP_LOGS_INSECURE="true"
